<script>
    import { fade } from 'svelte/transition';
	import DomainConfig from './DomainConfig.svelte';
    import Footer from './Footer.svelte';
	import Header from './Header.svelte';
	import Logging from './Logging.svelte';
	import Network from './Network.svelte';
	import Region from './Region.svelte';
	import SauceStuff from './SauceStuff.svelte';
	import SSL from './SSL.svelte';

	let command = 'sc';
	// sauce
	let user = 'SAUCE_USERNAME';
	let apiKey = 'SAUCE_ACCESS_KEY';
	let name = '';
	let shared = false;
	let haMode = false;
	// logging
	let verbosity = 'normal';
	let logfile = '';
	// region
	let scDc = new Map();
	scDc.set('US-WEST', '');
	scDc.set('EU', 'https://eu-central-1.saucelabs.com/rest/v1 ');
	scDc.set('US-EAST', 'https://us-east-1.saucelabs.com/rest/v1 ');
	scDc.set('TO EU[legacy]', 'https://eu1.api.testobject.com/sc/rest/v1 ');
	scDc.set('TO US[legacy]', 'https://us1.api.testobject.com/sc/rest/v1 ');
	//TODO add apac
	//scDc.set('APAC', 'https://.saucelabs.com/rest/v1 ');
	let dc_choice = 'US-WEST';
	// ssl config
	let noSslBump = [];
	// domain based routing + config
	let directDomains = '';
	let tunnelDomains = '';
	let fastFail = '';
	let basicAuth = 'host:port:user:pwd';
	let basicAuthEx = false;
	// network config
	let parentProxy = '';
	let parentProxyAuth = false;
	let parentProxyUser = 'username';
	let parentProxyPwd = 'password';
	let pacUrl = '';
    let pacAuth = false;
    let pacAuthExample = "username:password@host:port"
	let tunnelThruProxy = false;
	let autoDetectPac = true;
	let dnsServer = '';
	// UI: OS settings
	let os = 'linux';
</script>

<main>
	<Header/>
	<h2>Sauce Connect Start Command</h2>
	<div class="cmd-container">
		{#if os === 'windows'}
			<code>{command} -u %{user}% -k %{apiKey}%</code>
		{:else}
			<code>{command} -u ${user} -k ${apiKey}</code>
		{/if}

		{#if name.length > 0}
			<code>-i {name}</code> 
		{/if}
		
		{#if shared}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">-s</code> 
		{/if}
		
		{#if verbosity === 'verbose'} 
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">-v</code>
		{/if}
		
		{#if verbosity === 'veryVerbose'} 
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">-vv</code> 
		{/if}
		
		{#if logfile}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">-l {logfile}</code>	
		{/if}

		{#if haMode}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">--no-remove-colliding-tunnels</code>
		{/if}

		{#if noSslBump.length > 0}
			<code>-B {noSslBump}</code>
		{/if}

		{#if directDomains.length > 0}
			<code>-D {directDomains}</code>
		{/if}

		{#if tunnelDomains.length > 0}
			<code>-t {tunnelDomains}</code>
		{/if}

		{#if fastFail.length > 0}
			<code>-F {fastFail}</code>
		{/if}

		{#if basicAuthEx}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--auth {basicAuth},mysite.com:443:user:pwd</code>
		{/if}

		{#if parentProxy.length > 0}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--proxy {parentProxy}:port</code>
		{/if}

		{#if parentProxyAuth}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--proxy-userpwd {parentProxyUser}:{parentProxyPwd} </code>
		{/if}

		{#if pacUrl.length > 0}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--pac {pacUrl}</code>
		{/if}

		{#if tunnelThruProxy}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--proxy-tunnel</code>
		{/if}

		{#if autoDetectPac === false}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--no-autodetect</code>
		{/if}

		{#if dnsServer.length > 0}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--dns {dnsServer}</code>
		{/if}

		{#if dc_choice !== 'US-WEST'}
			<code>-x {scDc.get(dc_choice)}</code>
		{/if}
	</div>
    <!-- flags used by SC, grouped logically (best effort) -->
	<div class="flags-container">
		<Logging bind:verbosity bind:logfile/>
		<SauceStuff bind:name bind:shared bind:haMode/>
		<Region bind:scDc bind:dc_choice/>
		<SSL bind:noSslBump/>
		<DomainConfig bind:directDomains bind:tunnelDomains bind:fastFail bind:basicAuthEx/>
		<Network bind:autoDetectPac bind:parentProxy bind:parentProxyAuth bind:tunnelThruProxy bind:pacUrl bind:pacAuth bind:dnsServer/>
	</div>
	<h2>Sauce Connect Start Command</h2>
	<div class="cmd">
		{#if os === 'windows'}
			<code>{command} -u %{user}% -k %{apiKey}%</code>
		{:else}
			<code>{command} -u ${user} -k ${apiKey}</code>
		{/if}

		{#if name.length > 0}
			<code>-i {name}</code> 
		{/if}
		
		{#if shared}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">-s</code> 
		{/if}
		
		{#if verbosity === 'verbose'} 
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">-v</code>
		{/if}
		
		{#if verbosity === 'veryVerbose'} 
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">-vv</code> 
		{/if}
		
		{#if logfile}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">-l {logfile}</code>	
		{/if}

		{#if haMode}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 800}}">--no-remove-colliding-tunnels</code>
		{/if}

		{#if noSslBump.length > 0}
			<code>-B {noSslBump}</code>
		{/if}

		{#if directDomains.length > 0}
			<code>-D {directDomains}</code>
		{/if}

		{#if tunnelDomains.length > 0}
			<code>-t {tunnelDomains}</code>
		{/if}

		{#if fastFail.length > 0}
			<code>-F {fastFail}</code>
		{/if}

		{#if basicAuthEx}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--auth {basicAuth}</code>
		{/if}

		{#if parentProxy.length > 0}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--proxy {parentProxy}:port</code>
		{/if}

		{#if parentProxyAuth}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--proxy-userpwd {parentProxyUser}:{parentProxyPwd} </code>
		{/if}

		{#if pacUrl.length > 0}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--pac {pacUrl} </code>
		{/if}

        {#if pacAuth}
            <code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--pac-auth {pacAuthExample} </code>
        {/if}

		{#if tunnelThruProxy}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--proxy-tunnel</code>
		{/if}

		{#if autoDetectPac === false}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--no-autodetect</code>
		{/if}

		{#if dnsServer.length > 0}
			<code in:fade="{{delay:600, duration: 1500}}" out:fade="{{duration: 400}}">--dns {dnsServer}</code>
		{/if}

		{#if dc_choice !== 'US-WEST'}
			<code>-x {scDc.get(dc_choice)}</code>
		{/if}
	</div>
	<!-- Copy-pastable SC cmd line, output from above flags  -->
    <Footer bind:os/>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
		font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
	}

	:global(.flag-section) {
		display: block;
		background-color:#f6f9fc;
		margin-top: 20px;
	}

	:global(.flag-section label) {
		padding-left: 10px;
		padding-right: 10px;
	}

	.cmd-container {
		margin-top: -20px;
		position: fixed;
		color: white;
		background-color: black;
	}

	code {
		font-size: .9em;;
	}

	:global(.hint) {
		color:darkgrey;
		text-align: left;
	}

	@media screen {
		main {
			max-width: none;
		}
	}
</style>