<script>
    import {spaceErr, protocolCheck} from "./linting/csv-linter";
    export let directDomains;
    export let tunnelDomains;
    export let fastFail;
    export let basicAuthEx;

    let lint_warning = false;
    let ff_lint_warn = false;
</script>

<main>
    <!-- Domain Routing & Config -->
    <div class="flag-section">
        <p class="hint">Domain Routing & Config</p>
        <!-- svelte-ignore a11y-label-has-associated-control -->
        
        <label class="flags direct-domains">
            {#if tunnelDomains.length > 0}
                <strike>Direct Domains</strike>
                <input id="csv-input" type=text bind:value={directDomains} placeholder="You can't use Tunnel Domains and Direct Domains!" disabled>
            {:else}
                Direct Domains
                <input 
                    id="csv-input" 
                    type=text 
                    bind:value={directDomains} 
                    placeholder="CSV list that should go through the public internet"
                    class:lintWarning="{lint_warning === true}"
                    on:keyup="{() => lint_warning = spaceErr(directDomains) || protocolCheck(directDomains)}"
                >
            {/if}
        </label>

        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label class="flags tunnel-domains">
            {#if directDomains.length > 0}
                <strike>Tunnel Domains</strike>
                <input id="csv-input" type=text bind:value={tunnelDomains} placeholder="You can't use Tunnel Domains and Direct Domains!" disabled>
            {:else}
                Tunnel Domains
                <input
                id="csv-input"
                type=text 
                bind:value={tunnelDomains} 
                placeholder="CSV list that should ONLY be routed through tunnel"
                class:lintWarning="{lint_warning === true}"
                on:keyup="{() => lint_warning = spaceErr(tunnelDomains) || protocolCheck(tunnelDomains)}"
            >
            {/if}
        </label>

        <label class="flags fast-fail">
            Fast Fail
            <input
            id="csv-input"
            type=text
            bind:value={fastFail}
            placeholder="CSV list of domains that should be ignored (speeds up tests)"
            class:lintWarning="{ff_lint_warn === true}"
            on:keyup="{() => ff_lint_warn = spaceErr(fastFail) || protocolCheck(fastFail)}"
        >
        </label>

        <label class="flags basic-auth">
            <input type="checkbox" bind:checked={basicAuthEx} value="basicAuthEx">
            Basic Auth (example only)
        </label>
    </div>
</main>

<style>
    .flags {
        display: block;
    }
    #csv-input {
        width: 500px;
	}

    .lintWarning {
        background-color: yellow;
    }

    @media (max-width: 700px) {	
		#csv-input {
			width: 100%;
		}
	}
</style>