<script>
    export let os;
</script>

<main>
    <h5 class="hint">Operating System</h5>
	<div class="os">
		<label>
			<input type=radio bind:group={os} value='linux'>
			Linux
		</label>

		<label>
			<input type=radio bind:group={os} value='windows'>
			Windows
		</label>

		<label>
			<input type=radio bind:group={os} value='mac'>
			Mac
		</label>
	</div>
	<p>If you just downloaded sauce connect you can find the binary at a path like this:</p>
	<pre>
		{#if os === 'linux' || os === 'mac'}
		<code>$HOME/Downloads/sc-latest-ver/bin/sc</code>
		{:else}
		<code>C:\you\Downloads\sc-latest-ver\bin\sc.exe</code>
		{/if}
	</pre>

	<p class="hint">
		<a href="https://wiki.saucelabs.com/display/DOCS/Downloading+Sauce+Connect+Proxy" target="_blank">Download</a>
		Sauce Connect for {os}
	</p>
</main>

<style>
    .os label {
		width: 10%;
		border: 1px dotted;
		border-color: darkgrey;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
	}

	@media (max-width: 700px) {	
		.os label {
			width: 40%;
			border: 1px dotted;
			border-color: darkgrey;
			margin-left: auto;
			margin-right: auto;
		}
	}
</style>