<script>
    const CliREF = 'https://wiki.saucelabs.com/display/DOCS/Sauce+Connect+Proxy+Command-Line+Quick+Reference+Guide';
</script>

<main>
    <p class="header-hint">Build a Sauce Connect start command. See <a href={CliREF} target="_blank">Quick Reference Doc</a> for more info</p>
</main>

<style>
.header-hint {
		color:darkgrey;
        font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
	}
</style>