<script>
    export let verbosity;
    export let logfile;
</script>

<main>
    <!-- Logging -->
    <div class="flag-section">
        <p class="hint">Logging</p>
        <label class="flags">
            <input type=radio bind:group={verbosity} value="normal">
            Normal
        </label>

        <label class="flags">
            <input type=radio bind:group={verbosity} value="verbose">
            Verbose
        </label>

        <label class="flags">
            <input type=radio bind:group={verbosity} value="veryVerbose">
            Very Verbose
        </label>

        <label class="flags">
            <input type="text" bind:value={logfile} placeholder="logfile path(optional)">
        </label>
    </div>
</main>

<style></style>