<script>
    export let autoDetectPac;
    export let parentProxy;
    export let parentProxyAuth;
    export let tunnelThruProxy;
    export let pacUrl;
    export let pacAuth;
    export let dnsServer;
</script>

<main>
    <!-- Network Config -->
    <div class="flag-section">
        <p class="hint">Network Config</p>
        {#if pacUrl.length === 0}
        <label class="flags">
            Parent Proxy
            <input type="text" bind:value={parentProxy} placeholder="someproxy.yourdomain.com">
        </label>
        {/if}

        {#if parentProxy.length === 0}
        <label class="flags">
            PAC
            <input type="text" bind:value={pacUrl} placeholder="file path or URL for PAC">
        </label>
            {#if pacUrl.length > 0}
            <label class="flags">
                <input type="checkbox" bind:checked={pacAuth} value="pacAuth">
                pac file Authentication (example only)
            </label>
            {/if}
        {/if}

        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label class="flags">
            {#if parentProxy.length > 0}
                <!-- TODO: add a mouseover popup with an explanation -->
                <input type="checkbox" bind:checked={parentProxyAuth} value="parentProxyAuth">
                Proxy Auth (example only)
            {:else}
                <input type="checkbox" bind:checked={parentProxyAuth} value="parentProxyAuth" disabled>
                <strike>Proxy Auth (example only)</strike>
            {/if}
        </label>

        <!-- svelte-ignore a11y-label-has-associated-control -->
        <label class="flags">
            {#if parentProxy.length > 0 || pacUrl.length > 0}
                <input type="checkbox" bind:checked={tunnelThruProxy}>
                Tunnel through Proxy
            {:else}
                <input type="checkbox" bind:checked={tunnelThruProxy} disabled="disabled">
                <strike>Tunnel through Proxy</strike>
            {/if}
        </label>

        <label class="flags">
            <input type="checkbox" bind:checked={autoDetectPac}>
            Auto Detect PAC		
        </label>

        <label class="flags">
            DNS Server(s)
            <input type="text" bind:value={dnsServer} placeholder="DNS min. two recommended">
        </label>
    </div>
</main>

<style>
    .flags {
        display: block;
    }
</style>