<script>
    export let dc_choice;
    export let scDc;
</script>
<main>
    <!-- Region -->
    <div class="flag-section" id="region">
        <p class="hint">Region</p>
        {#each [...scDc.keys()] as datacenter}
            <label class="flags">
                <input type="radio" bind:group={dc_choice} value="{datacenter}">
                {datacenter}
            </label>
        {/each}
    </div>
</main>

<style>
    #region {
		padding-bottom: 12px;
	}

	#region label {
		padding-left: 12px;
		padding-right: 12px;
	}
</style>