<script>
    export let name;
    export let shared;
    export let haMode;
</script>

<main>		
    <!-- Sauce Stuff -->
    <div class="flag-section">
        <p class="hint">Sauce Stuff</p>
        <label class="flags">
            Tunnel Name
            <input type=text bind:value={name} placeholder="tunnel name">
        </label>

        <label class="flags">
            <input type=checkbox bind:checked={shared} value="false">
            Shared
        </label>

        <label class="flags">
            <input type=checkbox bind:checked={haMode} value="false">
            No Remove Colliding tunnels (HA Mode)
        </label>
    </div>
</main>