<script>
    export let noSslBump;
</script>

<main>		
    <!-- SSL Config -->
    <div class="flag-section">
        <p class="hint">SSL Config</p>
        <label class="flags">
            No Bump Domains
            <input id="csv-input" type=text bind:value={noSslBump} placeholder="Comma separated list of domains that should NOT be bumped">
        </label>
    </div>
</main>

<style>
    input {
        width: 400px;
    }
</style>